$messagecolor: blue;
$bgcolor: powderblue;

body {
    background-color: $bgcolor;
}
#message {
    color: $messagecolor;
    font-size: 3em;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }