/* Banner */
.header {
    background-color: #666666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 14em 0;
    text-align: center;
    position: relative;
  }
  
  header p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2.5;
    text-transform: uppercase;
  }
  
  .banner {
    background-image: url("/images/1.jpg");
  }
  
  .header h2 {
    color: #ffffff;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
  
  .header p {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 2em;
  }
  
  .header p a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .banner {
    background-image: url("/images/1.jpg");
  }
  