// Navigation

.nav {
    width: 100%;
    background: darken($primary-bg-color, 5%);
    height: 70px;
    font-size: 0;
    margin-top: 0;
    // margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    a {
        line-height: 50px;
        height: 100%;
        width: 120px;
        font-size: 15px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: $primary-color;
        cursor: pointer;
    }
}


// ul.main-menu {
//     list-style: none;

//     li {
//         display: inline-block;
//     }
// }


.nav ul {
    list-style: none;

    li {
        float: left;
        position: relative;
        z-index: 1;

        a {
            display: block;
            font-size: 1.2rem;
            margin: 0 1.2em;
            // padding: $link-vertical-padding $link-horizontal-padding;
            
            // padding: 0 $link-horizontal-padding;
            
            text-align: center;
            color: $link-color;
            // border-right: 1px solid darken($primary-color, 10%);

            &:hover {
                background: darken(white, 5%);
                color: $link-hover;
                border-radius: 10px;
            }
        }
    }
}