//Common Variables

$base-font-family: "Source Sans Pro", Helvetica, sans-serif;
$base-font-size: 71.42857%;
$base-font-weight: 400;
$base-line-height: 1.75;

$link-vertical-padding:15px;      //Controls Menu top & bottom padding
$link-horizontal-padding:20px;    //Contols Menu left & right padding
